{% extends "walrus/base.html" %}
{% load static %}
{% block content %}{{ block.super }}
<h1>To-do's for {{ user }}</h1>
<ul>
  {% for todo in todos %}
  <li>{{ todo }}</li>
  {% endfor %}
</ul>
{% endblock content %}
